element.style {
}
// showmedia="all"
body {
    min-width: 1020px;
    word-wrap: break-word;
}
// showmedia="all"
body {
    font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background-color: #fff;
}
// showmedia="all"
body {
    margin: 0;
}

// showmedia="all"
* {
    box-sizing: border-box;
}
user agent stylesheetbody {
    display: block;
    margin: 8px;
}
Inherited from html.is-copy-enabled.is-u2f-enabled
// showmedia="all"
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
